/********** Colors **********/
	
	/* Background Colors */
		.bg-1 {
			background-color: $color-2;
		}

		.bg-2 {
			background-color: $color-2;
		}

		.bg-3 {
			background-color: $dark-blue;
		}

		.bg-4 {
			background-color: $color-4;
		}

		.bg-5 {
			background-color: $color-5;
		}

		.bg-1-1 {
			background-color: $color-1-1;
		}

		.bg-2-1 {
			background-color: $color-2-1;
		}

		.bg-3-1 {
			background-color: $color-3-1;
		}

		.bg-4-1 {
			background-color: $color-4-1;
		}

		.bg-5-1 {
			background-color: $color-5-1;
		}

		.bg-1-2 {
			background-color: $color-1-2;
		}

		.bg-2-2 {
			background-color: $color-2-2;
		}

		.bg-3-2 {
			background-color: $color-3-2;
		}

		.bg-4-2 {
			background-color: $color-4-2;
		}

		.bg-5-2 {
			background-color: $color-5-2;
		}

		.bg-dark {
			background-color: $dark;
			color: $light;
		}

		.bg-light {
			background-color: $light;
		}

		.bg-light-grey {
			background-color: $light-grey;
		}

		.bg-grey {
			background-color: $grey;
		}

		.bg-dark-grey {
			background-color: $dark-grey;
		}

		.bg-medium-grey {
			background-color: $medium-grey;
		}

		.t-dark-grey {
			color: $dark-grey;
		}

		.t-medium-grey {
			color: $medium-grey;
		}

		.t-light {
			color: $light;
		}

		.t-1 {
			color: $color-1;
		}

		.t-2 {
			color: $color-2;
		}

		.t-3 {
			color: $color-3;
		}

		.t-4 {
			color: $color-4;
		}

		.t-5 {
			color: $color-5;
		}

		.t-5-1 {
			color: $color-5-1;
		}

		.t-5-2 {
			color: $color-5-2;
		}

		.t-6 {
			color: $color-6;
		}

		.t-grey {
			color: $medium-grey;
		}

	/* Code Colors */
		.tag {
			color: red;
		}

		.class {
			color: blue;
		}

		.css {
			color: purple;
		}

