@font-face {
    font-family: 'MaisonNeue';
    src: url(../fonts/Maison-Neue-Book.eot) format('embedded-opentype'),
        url(../fonts/Maison-Neue-Book.woff) format('woff');
}

@font-face {
    font-family: 'MaisonNeueMedium';
    src: url(../fonts/maisonneue-medium-webfont.eot) format('embedded-opentype'),
        url(../fonts/maisonneue-medium-webfont.woff) format('woff');
}

@font-face {
    font-family: 'MaisonNeueBold';
    src: url(../fonts/maisonneue-bold-webfont.eot) format('embedded-opentype'),
    	url(../fonts/maisonneue-bold-webfont.woff) format('woff');
}

@font-face {
  font-family: 'DifDisplay';
  src: url('../fonts/difdisplay-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/difdisplay-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/difdisplay-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/difdisplay-webfont.woff') format('woff');
}