/* Flexbox */
@mixin flexbox() {
	display: -webkit-box;
    display: -webkit-flex;
	display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin inline-flexbox() {
	display: -webkit-inline-box;
    display: -webkit-inline-flex;
	display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@mixin flex-row() {
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

@mixin flex-column() {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

@mixin flex-wrap() {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@mixin flex-no-wrap() {
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

@mixin align-content-start() {
	-webkit-align-content: flex-start;
	-moz-align-content: flex-start;
	-ms-align-content: flex-start;
	align-content: flex-start;
}

@mixin align-items-start() {
	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

@mixin align-items-stretch() {
	-webkit-align-items: stretch;
	-moz-align-items: stretch;
	-ms-align-items: stretch;
	align-items: stretch;
}

@mixin align-content-stretch() {
	-webkit-align-content: stretch;
	-moz-align-content: stretch;
	-ms-align-content: stretch;
	align-content: stretch;
}

@mixin align-self-start() {
	-webkit-align-self: flex-start;
	-moz-align-self: flex-start;
	-ms-align-self: flex-start;
	align-self: flex-start;
}

@mixin align-self-stretch() {
	-webkit-align-self: stretch;
	-moz-align-self: stretch;
	-ms-align-self: stretch;
	align-self: stretch;
}

/* Box-sizing */
@mixin border-box() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}










